* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li{
    list-style: none;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* Header */

header {
    width: 100%;
    height: 100px;
    background: #000000;
    display: flex;
}

.header__logo {
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 800;
    font-size: 24px;
    cursor: pointer;
    margin-top: 56px;
    margin-left: 12%;
}

/* Header navigation */

nav {
    margin-top: 56px;
    margin-left: 29%;
}

.topnav a {
    color: #ffffff;
    text-align: center;
    padding: 12px 16px;
    font-size: 14px;
    font-weight: bold;
    transition: all.5s;
}

.topnav a:hover {
    border-bottom: 3px solid #fcac45;
}

.topnav .icon {
    display: none;
}

/* Main block */

main {
    display: flex; /* Для работы с flex-box'aми */ 
    width: 100%;
    flex-direction: column; /* Направление flex блоков */
}

main .main__welcome {
    background: #000;
    text-align: center;
    padding: 200px 0 410px 0;
}

main .main__welcome p {
    color: #999999;
    font-size: 20px;
}

main .main__welcome h1 {
    color: #999999;
    font-size: 44px;
    font-family: Open Sans;
    font-weight: 300;
}

main .main__welcome h1:after {
    display: none;
}

.mycompany {
    color: #FCAC45;
    font-weight: bold;
} 


/* Доделать шрифты */

/* Second block */

.wrapper {
    width: 80%;
    margin: 0 auto;
}

main .main__about {
    display: flex;
    padding: 100px 0 100px 0;
}

.about__right {
    margin-left: 175px;
}

.about__right h1:after {
    display: none;
}

.about__right h1 {
    display: inline-block; /* Если задать просто block и убрать margin у всего блока, то все просто слетит и будет некрасиво */
    border-bottom: 3px solid #fcac45;
    padding-bottom: 20px;
    font-weight: 400;
}

.about__right p {
    margin: 30px 0 50px 0;
    color: #6c6c6c;
}

.about__right li {
    background: url(img/dot.png) 0 no-repeat;
    padding-left: 25px;
    margin-top: 10px;
    font-weight: bold;
    color: #5a5a5a;
}

.mw-100 {
    min-width: 100%;
}

.bold__style {
    font-weight: bold;
}

.italic__style {
    font-weight: 300;
    font-style: italic;
}

/* Team block */

.main__team {
    background: #000;
    text-align: center;
    padding: 100px 0 165px 0;
    color: #ffffff;
}

.main__team h1 {
    font-size: 44px;
    padding-bottom: 30px;
    font-weight: 500;
}

/* .line {
    width: 100px;
    height: 3px;
    background: #fcac45;
    position: relative; Для того, чтобы линия центрировалась
    margin-bottom: 85px;
    left: 45.5%;
} */

/* .main__team .line {
    left: 46.4%
} */

.photo {
    background: #d7d7d7;
    width: 125px;
    height: 125px;
    border-radius: 50%; /* Делается кружочек/фотки */
    margin: 20px auto; /* Центрированные кружочки/фотки */
}

.team__cards {
    display: flex; /* Чтобы они все встали горизонтально */
}

.card {
    margin: 0 40px;
}

.name {
    font-size: 20px;
    margin-bottom: 7px;
    font-weight: bold;
}

.position {
    font-size: 16px;
    margin-bottom: 35px;
    font-weight: 300;
}

.about__position {
    font-size: 14px;
    font-weight: 300;
}

/* Our services block */

.services__cards {
    text-align: center;
    display: grid; /* Для работы с CSS Grid */
    grid-template-columns: auto auto auto auto; /* Свойство отвечает за то, как выкладываются колонки грида. Принимает ряд значений через запятую. Сколько значений указано, столько колонок и будет */
    grid-column-gap: 20px; /* Интервал между колонками */
}

.main__services h1 {
    text-align: center;
    font-size: 44px;
    padding: 100px 0 30px 0;
    font-weight: 500;
}

.main__services p {
    color: #6c6c6c;
    margin-bottom: 100px;
}

.services__card h4 {
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 15px;
    font-weight: 600;
}

/* .main__services .line {
    left: 45.5%;
} */

.services__cards p {
    color: #222222;
    font-weight: 400;
}

/* Our clients block */

.main__clients {
    background: #000;
    padding: 100px 0 205px 0;
    color: #ffffff;
    text-align: center;
}

.main__clients h1 {
    font-size: 44px;
    margin-bottom: 30px;
    font-weight: 300;
}
.main__clients img {
    margin-top: 10px;
    margin-left: 30px;
}

/* .main__clients .line {
    left: 46.2%;
} */

/* Our work block */

.main__work {
    text-align: center;
    padding: 100px 0 100px 0;
}

.main__work h1 {
    margin-bottom: 30px;
    font-weight: 300;
    font-size: 44px;
}

.main__work p {
    margin-bottom: 175px;
    color: #6c6c6c;
    font-weight: 300;
    font-size: 16px;
}

.main__work img:hover {
    opacity: 0.9;
    transition: all.4s ease;
}

/* Отзывы */

.main__testimonials {
    background: #000;
    text-align: center;
    color: #ffffff;
    padding-bottom: 170px;
}

.main__testimonials h1 {
    text-transform: uppercase;
    margin-top: 100px;
    margin-bottom: 30px;
    font-size: 44px;
    font-weight: 300;
}

.main__testimonials .testimonial {
    text-transform: uppercase;
    margin-bottom: 50px;
    font-size: 18px;
}

.main__testimonials p {
    font-size: 18px;
}

.bold__style2 {
    font-weight: 600;
}

.light__style {
    font-weight: 300;
    color: #999999;
}

/* Contact us block */

.contact__form {
    padding: 100px 0 100px 0;
}

.contact__form h1 {
    text-align: center;
    font-size: 44px;
    font-weight: 600;
}

.centered {
    text-align: center;
}
.centered p {
    font-size: 16px;
    font-weight: 400;
}

.contact__form h1 {
    color: #000;
    margin-bottom: 30px;
}

.contact__wrapper {
    width: 80%;
    margin: 0 auto;
    color: #636363;
}

.red {
    color: red;
}

.form__inputs {
    display: flex; /* Чтобы формы распологались по горизонтали */
    margin-top: 100px;
}

input {
    width: 360px;
    height: 40px;
    font-size: 20px;
    margin-bottom: 30px;
}

input:first-of-type {
    margin-right: 23px;
}

textarea {
    width: 100%;
    height: 163px;
}

input, textarea {
    border: 1px solid #999999;
    margin-top: 5px;
    border-radius: 3px;
}

.button__block {
    display: flex;
    justify-content: flex-end; /* Переместит блок вправо */
}

input[type=submit] {
    width: 165px;
    height: 40px;
    background: #fcac45;
    color: #ffffff;
    margin-right: 0; /* Если убрать этот стиль, то она уйдет немного влево */
    margin-top: 20px;
    border: 0;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 550;
    cursor: pointer;
}
input[type=submit]:hover { 
    transition: all.4s ease;
    background-color: #eca547;
}

/* Линия */

h1:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 100px;
    padding-top: 30px;
    border-bottom: 3px solid #fcac45;
}

/* Footer */

footer {
    width: 100%;
    height: auto;
    background: #222222;
}

.social {
    display: flex;
    justify-content: center;
}

.social img {
    padding: 30px 0 30px 0;
    margin-left: 12px;
}

.social img:hover {
    opacity: 0.65;
    transition: all.4s ease;
}

/* Adaptive */

@media (min-width: 1152px) and (max-width: 1340px) {
    nav {
        margin-left: 20%;
    }
}
@media screen and (max-width: 1151px) {
    nav {
        margin-left: 10%;
    }
}

@media screen and (max-width: 1010px) {
    .topnav a {
        display: none;
    }
    .topnav a.icon {
        float: right;
        margin-top: -17px;
        display: block;
        color: #ffffff;
        font-size: 25px;
    }
    nav {
        width: 100%;
    }
    .topnav.responsive {
        position: relative;
        top: 50px;
        left: -200px;
    }
    header .topnav.responsive {
        height: 340px;
    }
    .topnav.responsive a.icon{
        position: absolute;
        top: -50px;
        right: -200px;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }


    main .main__welcome {
        padding: 50px 0 50px 0;
    }
    main .main__welcome p {
        font-size: 14px;
    }
    main .main__welcome h1 {
        font-size: 25px;
    }
    .mw-100 {
        max-width: 100%;
    }

    .main__about{
        flex-direction: column; /* Блоки будут идти вертикально */
    }
    .about__right {
        text-align: center;
        margin-left: 0;
    }
    .about__right li {
        text-align: left;
    }
    .about__right h1 {
        margin-top: 10px;
        font-size: 20px;
    }
    .team__cards {
        flex-direction: column; /* При изменении ширины экрана они будут становиться в колонку */
    }
    .services__cards {
        grid-template-columns: auto; /* Автоматически будет одна колонка */
    }
    .line1 img:not(:first-child) {
        display: none; /* Все, кроме первого чаилда не будет отображаться */
    }
    .line2 img:not(:first-child) {
        display: none;
    }
    .line3 img:not(:first-child) {
        display: none;
    }
    .line4 img:not(:first-child) {
        display: none;
    }
    .contact__form {
        width: 100%;
        margin-right: 0 auto;
    }
    .centered {
        width: 100%;
    }
    .form__inputs {
        flex-direction: column;
        width: 80%;
    }
    .form__inputs input {
        width: 100%;
    }
    textarea {
        width: 90%;
    }
    .button__block {
        flex-direction: column;
    }
}